.opdPage {
  background-image: url("../../../public/assets/sethoscope.jpg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg_overlay {
  background-color: rgba(115, 195, 241, 0.31);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 90%;
  height: 95%;
  display: flex;
  border-radius: 15px;
  background-color: #f3f3f3;
  overflow: hidden;
  align-items: center;
}



.center {
  width: 60%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}





/* TITLE BAR*/
.titleBar {
  background-color: rgb(255, 255, 255);
  width: 95%;
  height: 74px;
  border-radius: 11px;
  box-shadow: -3px 4px 7px #00000032;
  display: flex;
  align-items: center;
}

.title {
  display: flex;
  height: 23px;
  width: 166px;
  margin-left: 19px;
}

.title h1 {
  font-size: 1.2rem;
  font-weight: bold;
}

.new_rcd_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 24%;
}

.new_rcd_btn a {
  width: 137px;
  height: 38px;
  background-color: #3e8ede;
  border-radius: 35px;
  text-decoration: none;
  color: white;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 23px;
}
.vertical_line {
  height: 43px;
  background-color: #d8d8d8;
  width: 2px;
  border-radius: 5px;
  position: absolute;
  right: 35%;
}

.titleBar_icons {
  width: 70px;
  height: 30px;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  position: relative;
  right: -50%;
}

/* PROFILE BAR */
.profileBar {
  background-color: rgb(255, 255, 255);
  width: 95%;
  height: 126px;
  border-radius: 11px;
  box-shadow: -3px 4px 7px #00000032;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
}

.nameCard {
  width: 230px;
  height: 61px;
  margin-left: 24px;
}

.nameCard h1 {
  font-weight: bold;
  font-size: 1.2rem;
}

.nameCard p {
  color: #bebebe;
}

.imageCard {
  height: 100%;
  width: 276px;
}

.imageCard img {
  width: 100%;
}

/* STATBAR */
.statBar {
  width: 95%;
  height: 190px;
  border-radius: 11px;
  display: flex;
  justify-content: space-between;
}

.p_stat {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 24%;
  border-radius: 11px;
  box-shadow: -3px 4px 7px #00000032;
}

.a_stat {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 24%;
  border-radius: 11px;
  box-shadow: -3px 4px 7px #00000032;
}

.d_stat {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 24%;
  border-radius: 11px;
  box-shadow: -3px 4px 7px #00000032;
}

.n_stat {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 24%;
  border-radius: 11px;
  box-shadow: -3px 4px 7px #00000032;
}

/* BOOKINGS BAR */
.bookingsBar {
  background-color: rgb(255, 255, 255);
  width: 95%;
  height: 60%;
  border-radius: 11px;
  box-shadow: -3px 4px 7px #00000032;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.horizontalLine {
  width: 100%;
  border: 1.5px solid #f3f3f3;
  position: relative;
  top: 20px;
}

.recentBookings {
  width: 147px;
  height: 32px;
  position: relative;
  left: 20px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1rem;
}

.bookingsListBox {
  width: 100%;
  height: 90%;
  position: relative;
  top: 10px;
  overflow-y: scroll;
}

.bookingsListBox table {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.bookingsListBox table td th {
    width: 23%;

}


/* RIGHT MENU PANE */
.right {
    width: 20%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    right: 0px;
    box-shadow: -3px 4px 7px #00000032;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

.topBox, .middleBox ,.bottomBox {
    border: 1px solid #3E8EDE;
    width: 80%;
    height: 30%;
    border-radius: 18px;
}

/* LEFT MENU PANE */
.left {
    width: 20%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 7px 7px #00000032;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    width: 249px;
    height: 123px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
  }
  
  .logo img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    scale: 1.4;
  }
  
  .left_line {
    width: 100%;
    border: 1px solid #f3f3f3;
  }

.menu {
    width: 90%;
    height: 60%;
    margin-top: 2%;
}

.menuList {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.menuList li {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content:left;
    align-items: center;
    
    
}

.menuList li a {
    display: flex;
    height: 100%;
    width: 100%;
    gap: 4%;
    border-radius: 9px;
    padding: 9px;
}

.menuList li a h1 {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1rem;
    width: 100%;
    
    
}

.menuList li a:hover {
    background-color: #e0e0e040;
}

.menuList li a:active {
    background-color: #e0e0e040;

}












